@font-face {
    font-family: 'Teletext2';
    src: url('/assets/teletext2.ttf') format('truetype');
}

@font-face {
    font-family: 'Teletext4';
    src: url('/assets/teletext4.ttf') format('truetype');
}


html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 200%;
    font-family: "Teletext2", "Arial", "Helvetica", sans-serif;
    background-color: #302010;
    color: #ffffff;
    overflow: hidden;
}


canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
}


input {
    padding: 0 8px;
    font-size: 100%;
    font-family: "Teletext2", "Arial", "Helvetica", sans-serif;
}


button {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: "Teletext4", "Arial", "Helvetica", sans-serif;
}

button:focus,
button:hover {
    outline: 0;
}


.button {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 10px;
    width: 130px;
    height: 100px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 100%;
}


.button--keypad {
    border: 1px solid #CEDCE7;
    background-color: #CEDCE7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#CEDCE7), to(#596a72));
    background-image: -webkit-linear-gradient(top, #CEDCE7, #596a72);
    background-image: -moz-linear-gradient(top, #CEDCE7, #596a72);
    background-image: -ms-linear-gradient(top, #CEDCE7, #596a72);
    background-image: -o-linear-gradient(top, #CEDCE7, #596a72);
    background-image: linear-gradient(to bottom, #CEDCE7, #596a72);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#CEDCE7, endColorstr=#596a72);
    box-shadow: inset 0 -8px 0 0 #50616a, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
    -moz-box-shadow: inset 0 -8px 0 0 #50616a, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
    -webkit-box-shadow: inset 0 -8px 0 0 #50616a, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
}

.button--keypad:active {
    border-radius: 8px 8px 3px 3px;
    -webkit-border-radius: 8px 8px 3px 3px;
    -moz-border-radius: 8px 8px 3px 3px;
    box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    -moz-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    background-color: #F7FF05;
}

.button--keypad:hover {
    border: 1px solid #8aabc5;
    background-color: #acc4d6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#acc4d6), to(#434f55));
    background-image: -webkit-linear-gradient(top, #acc4d6, #434f55);
    background-image: -moz-linear-gradient(top, #acc4d6, #434f55);
    background-image: -ms-linear-gradient(top, #acc4d6, #434f55);
    background-image: -o-linear-gradient(top, #acc4d6, #434f55);
    background-image: linear-gradient(to bottom, #acc4d6, #434f55);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#acc4d6, endColorstr=#434f55);
}


.button--red {
    border: 1px solid #df0909;
    background-color: #f62b2b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
    background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
    background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
    background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
    background-image: -o-linear-gradient(top, #f62b2b, #d20202);
    background-image: linear-gradient(to bottom, #f62b2b, #d20202);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f62b2b, endColorstr=#d20202);
    box-shadow: inset 0 -8px 0 0 #930101, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
    -moz-box-shadow: inset 0 -8px 0 0 #930101, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
    -webkit-box-shadow: inset 0 -8px 0 0 #930101, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
}

.button--red:hover {
    border: 1px solid #b30808;
    background-color: #e40a0a;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e40a0a), to(#9f0202));
    background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
    background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
    background-image: -ms-linear-gradient(top, #e40a0a, #9f0202);
    background-image: -o-linear-gradient(top, #e40a0a, #9f0202);
    background-image: linear-gradient(to bottom, #e40a0a, #9f0202);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e40a0a, endColorstr=#9f0202);
}

.button--red:active {
    border-radius: 8px 8px 3px 3px;
    -webkit-border-radius: 8px 8px 3px 3px;
    -moz-border-radius: 8px 8px 3px 3px;
    box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    -moz-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    background-color: #F7FF05;
}

.button--green {
    background-color: #4ba614;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
    background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
    background-image: -moz-linear-gradient(top, #4ba614, #008c00);
    background-image: -ms-linear-gradient(top, #4ba614, #008c00);
    background-image: -o-linear-gradient(top, #4ba614, #008c00);
    background-image: linear-gradient(to bottom, #4ba614, #008c00);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#4ba614, endColorstr=#008c00);
    box-shadow: inset 0 -8px 0 0 #377A0F, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
    -moz-box-shadow: inset 0 -8px 0 0 #377A0F, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
    -webkit-box-shadow: inset 0 -8px 0 0 #377A0F, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
}

.button--green:hover {
    border: 1px solid #224b09;
    background-color: #36780f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
    background-image: -webkit-linear-gradient(top, #36780f, #005900);
    background-image: -moz-linear-gradient(top, #36780f, #005900);
    background-image: -ms-linear-gradient(top, #36780f, #005900);
    background-image: -o-linear-gradient(top, #36780f, #005900);
    background-image: linear-gradient(to bottom, #36780f, #005900);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#36780f, endColorstr=#005900);
}

.button--green:active {
    border-radius: 8px 8px 3px 3px;
    -webkit-border-radius: 8px 8px 3px 3px;
    -moz-border-radius: 8px 8px 3px 3px;
    box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    -moz-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    background-color: #F7FF05;
}

.button--yellow {
    box-shadow: inset 0 -8px 0 0 #A19208, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
    -moz-box-shadow: inset 0 -8px 0 0 #A19208, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
    -webkit-box-shadow: inset 0 -8px 0 0 #A19208, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
    background-color: #F7FF05;
}

.button--yellow:active {
    border-radius: 8px 8px 3px 3px;
    -webkit-border-radius: 8px 8px 3px 3px;
    -moz-border-radius: 8px 8px 3px 3px;
    box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    -moz-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    background-color: #F7FF05;
}

.button--cyan {
    border: 1px solid #15aeec;
    background-color: #49c0f0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
    background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#49c0f0, endColorstr=#2CAFE3);
    box-shadow: inset 0 -8px 0 0 #1d7ba0, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
    -moz-box-shadow: inset 0 -8px 0 0 #1d7ba0, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
    -webkit-box-shadow: inset 0 -8px 0 0 #1d7ba0, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
}

.button--cyan:hover {
    border: 1px solid #1090c3;
    background-color: #1ab0ec;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
    background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
    background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
    background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
    background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
    background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#1ab0ec, endColorstr=#1a92c2);
}

.button--cyan:active {
    border-radius: 8px 8px 3px 3px;
    -webkit-border-radius: 8px 8px 3px 3px;
    -moz-border-radius: 8px 8px 3px 3px;
    box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    -moz-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    background-color: #F7FF05;
}


.input_number {
    border: 4px solid transparent;
    width: 140px;
    height: 50px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.input_number:focus {
    border-color: #1090c3;
}


.centre-div {
    margin: auto;
    position: absolute;
    top: 0;
    visibility: visible;
}


.grabButton {
    margin: 0 auto;
    width: 600px;
    height: 550px;
    position: absolute;
    top: 0;
}


.controlsButton {
    position: relative;
    padding: initial;
    width: auto;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 32px;
    border: none;
    background: transparent;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    border-left: 8px solid #ffffff;
    border-right: 8px solid #ffffff;
}

.controlsButton span {
    display: block;
    padding: 40px;
    margin: -8px 0;
    color: #ffffff;
    border-top: 8px solid #ffffff;
    border-bottom: 8px solid #ffffff;
}

.controlsButton::before,
.controlsButton::after,
.controlsButton span::before,
.controlsButton span::after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    background: #ffffff;
}

.controlsButton::before {
    top: -5px;
    left: -5px;
}

.controlsButton::after {
    top: -5px;
    right: -5px;
}

.controlsButton span::before {
    bottom: -5px;
    left: -5px;
}

.controlsButton span::after {
    bottom: -5px;
    right: -5px;
}




#logo {
    position: absolute;
    height: 51px;
    width: 226px;
    top: 0;
    left: 0;
}

#logo svg {
    width: 100%;
}

#logo svg path {
    fill: #ffffff;
}




#serviceSelect button,
#grabSelect button {
    width: 240px;
    min-height: 100px;
}


#serviceSelect {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -14px;
    padding: 8px 0;
}

[data-has-logo="true"] #serviceSelect {
    top: 96px;
}

#serviceSelect button {
    margin: 20px 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#serviceSelect button:first-child {
    margin-top: 0;
}


#grabSelect {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: -14px;
    padding: 8px 0;
}


#grabSelectLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 22px 14px 0 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    transition: max-height 0.3s ease-in-out,
        opacity 0.3s ease-in-out;
}

#grabSelectLinks li {
    margin: 0;
    padding: 12px 0;
}

#grabSelectLinks li a {
    display: inline-block;
    padding: 7px 10px;
    text-align: right;
    background-color: #BB5000;
    color: #ffffff;
}

#grabSelectLinks[data-visible="false"] {
    max-height: 0;
    opacity: 0;
}

#grabSelectLinks[data-visible="true"] {
    max-height: 100%;
    opacity: 1;
}




#wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#controls {
    width: 100%;
    margin-top: 40px;
}


#fastextControls {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#fastextControls button {
    flex-basis: 100%;
    margin: 0 10px;
}

#fastextControls button:first-child {
    margin-left: 0;
}

#fastextControls button:last-child {
    margin-right: 0;
}


#controlsRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin: 40px 0;
}


#keypadControls {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#keypadControls button {
    flex-basis: 100%;
    margin: 0 10px;
}

#keypadControls button:first-child {
    margin-left: 0;
}

#keypadControls button:last-child {
    margin-right: 0;
}


#description {
    width: 100%;
    margin: 40px 0;
    font-size: 100%;
    text-align: left;
    font-family: "Teletext4", "Arial", "Helvetica", sans-serif;
}




/* media queries */
@media only screen and (max-width: 1023px) {
    #serviceSelect,
    #grabSelect {
        display: none;
    }
}
