@font-face {
  font-family: 'Teletext2';
  src: url("/assets/teletext2.ttf") format("truetype");
}

@font-face {
  font-family: 'Teletext4';
  src: url("/assets/teletext4.ttf") format("truetype");
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 200%;
  color: #ffffff;
  background-color: #302010;
  font-family: "Teletext2", "Arial", "Helvetica", sans-serif;
  overflow: hidden;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
}

input {
  padding: 0 8px;
  font-size: 100%;
  font-family: "Teletext2", "Arial", "Helvetica", sans-serif;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: "Teletext4", "Arial", "Helvetica", sans-serif;
}

button:focus, button:hover {
  outline: 0;
}

.button {
  border-radius: 8px;
  padding: 10px;
  width: 130px;
  height: 100px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  font-size: 100%;
}

.button--keypad {
  border: 1px solid #acc4d6;
  background-color: #f0f4f8;
  background-image: linear-gradient(to bottom, #f0f4f8, #b6cbdb);
  box-shadow: inset 0 -8px 0 0 #8aabc5, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
}

.button--keypad:hover {
  border: 1px solid #9bb7ce;
  background-color: #dfe8ef;
  background-image: linear-gradient(to bottom, #dfe8ef, #a5bfd3);
}

.button--red {
  border: 1px solid #cc0000;
  background-color: #ff3333;
  background-image: linear-gradient(to bottom, #ff3333, #db0000);
  box-shadow: inset 0 -8px 0 0 #990000, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
}

.button--red:hover {
  border: 1px solid #b30000;
  background-color: #ff1a1a;
  background-image: linear-gradient(to bottom, #ff1a1a, #c20000);
}

.button--green {
  border: 1px solid #00cc00;
  background-color: #33ff33;
  background-image: linear-gradient(to bottom, #33ff33, #00db00);
  box-shadow: inset 0 -8px 0 0 #009900, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
}

.button--green:hover {
  border: 1px solid #00b300;
  background-color: #1aff1a;
  background-image: linear-gradient(to bottom, #1aff1a, #00c200);
}

.button--yellow {
  border: 1px solid #cccc00;
  background-color: #ffff33;
  background-image: linear-gradient(to bottom, #ffff33, #dbdb00);
  box-shadow: inset 0 -8px 0 0 #999900, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
}

.button--yellow:hover {
  border: 1px solid #b3b300;
  background-color: #ffff1a;
  background-image: linear-gradient(to bottom, #ffff1a, #c2c200);
}

.button--cyan {
  border: 1px solid #00cccc;
  background-color: #33ffff;
  background-image: linear-gradient(to bottom, #33ffff, #00dbdb);
  box-shadow: inset 0 -8px 0 0 #009999, inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;
}

.button--cyan:hover {
  border: 1px solid #00b3b3;
  background-color: #1affff;
  background-image: linear-gradient(to bottom, #1affff, #00c2c2);
}

.input_number {
  border: 4px solid transparent;
  width: 140px;
  height: 50px;
  border-radius: 3px;
}

.input_number:focus {
  border-color: #00ffff;
}

.centre-div {
  margin: auto;
  position: absolute;
  top: 0;
  visibility: visible;
}

.grabButton {
  margin: 0 auto;
  width: 600px;
  height: 550px;
  position: absolute;
  top: 0;
}

.controlsButton {
  position: relative;
  padding: initial;
  width: auto;
  height: auto;
  border: none;
  box-sizing: border-box;
  font-size: 32px;
  background: transparent;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  border-left: 8px solid #ffffff;
  border-right: 8px solid #ffffff;
}

.controlsButton span {
  display: block;
  padding: 40px;
  margin: -8px 0;
  color: #ffffff;
  border-top: 8px solid #ffffff;
  border-bottom: 8px solid #ffffff;
}

.controlsButton::before, .controlsButton::after,
.controlsButton span::before,
.controlsButton span::after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #ffffff;
}

.controlsButton::before {
  top: -5px;
  left: -5px;
}

.controlsButton::after {
  top: -5px;
  right: -5px;
}

.controlsButton span::before {
  bottom: -5px;
  left: -5px;
}

.controlsButton span::after {
  bottom: -5px;
  right: -5px;
}

#logo {
  position: absolute;
  height: 51px;
  width: 226px;
  top: 0;
  left: 0;
}

#logo svg {
  width: 100%;
}

#logo svg path {
  fill: #ffffff;
}

#serviceSelect button,
#grabSelect button {
  width: 240px;
  min-height: 100px;
}

#serviceSelect {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -14px;
  padding: 8px 0;
}

#serviceSelect button {
  margin: 20px 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#serviceSelect button:first-child {
  margin-top: 0;
}

[data-has-logo="true"] #serviceSelect {
  top: 96px;
}

#grabSelect {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: -14px;
  padding: 8px 0;
}

#grabSelectLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 22px 14px 0 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#grabSelectLinks li {
  margin: 0;
  padding: 12px 0;
}

#grabSelectLinks li a {
  display: inline-block;
  padding: 7px 10px;
  text-align: right;
  background-color: #bb5000;
  color: #ffffff;
}

#grabSelectLinks[data-visible="false"] {
  max-height: 0;
  opacity: 0;
}

#grabSelectLinks[data-visible="true"] {
  max-height: 100%;
  opacity: 1;
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controls {
  width: 100%;
  margin-top: 40px;
}

#fastextControls {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#fastextControls button {
  flex-basis: 100%;
  margin: 0 10px;
}

#fastextControls button:first-child {
  margin-left: 0;
}

#fastextControls button:last-child {
  margin-right: 0;
}

#controlsRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin: 40px 0;
}

#keypadControls {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#keypadControls button {
  flex-basis: 100%;
  margin: 0 10px;
}

#keypadControls button:first-child {
  margin-left: 0;
}

#keypadControls button:last-child {
  margin-right: 0;
}

#description {
  width: 100%;
  margin: 40px 0;
  font-size: 100%;
  text-align: left;
  font-family: "Teletext4", "Arial", "Helvetica", sans-serif;
}

/* media queries */
@media only screen and (max-width: 1023px) {
  #serviceSelect,
  #grabSelect {
    display: none;
  }
}

/*# sourceMappingURL=muttlee.css.map */