<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>{{ TITLE }}</title>

    {% if IS_DEV %}
      <script src="libraries/socket.io.min.js"></script>
      <script src="libraries/p5.js"></script>
      <script src="libraries/p5.dom.js"></script>
    {% else %}
      <script src="libraries/socket.io.min.js"></script>
      <script src="libraries/p5.min.js"></script>
      <script src="libraries/p5.dom.min.js"></script>
    {% endif %}

    <script src="constants.js"></script>
    <script src="config.js"></script>
    <script src="log.js"></script>

    <script src="ttxpage.js"></script>
    <script src="edittf.js"></script>
    <script src="charchanged.js"></script>
    <script src="sketch.js"></script>
    <script src="cursor.js"></script>

    <link rel="stylesheet" type="text/css" href="muttlee.css">
  </head>

  <body{% if LOGO_SVG %} data-has-logo="true"{% endif %}>
    {% if LOGO_SVG %}
      <a id="logo" href="/" onclick="reloadService(event);">
        {{ LOGO_SVG | safe }}
      </a>
    {% endif %}

    <div id="menu">
      <button id="menuButton" onclick="toggleMenu();">
        <svg class="menuIcon" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 31.75 31.75">
          <path d="M0 0h6.35v6.35H0Z" class="c c1-1"/>
          <path d="M6.35 0h6.35v6.35H6.35Z" class="c c1-2"/>
          <path d="M12.7 0h6.35v6.35H12.7z" class="c c1-3"/>
          <path d="M19.05 0h6.35v6.35h-6.35z" class="c c1-4"/>
          <path d="M25.4 0h6.35v6.35H25.4z" class="c c1-5"/>
          <path d="M0 19.05h6.35V12.7H0Z" class="c c2-1"/>
          <path d="M6.35 19.05h6.35V12.7H6.35Z" class="c c2-2"/>
          <path d="M12.7 19.05h6.35V12.7H12.7z" class="c c2-3"/>
          <path d="M19.05 19.05h6.35V12.7h-6.35z" class="c c2-4"/>
          <path d="M25.4 19.05h6.35V12.7H25.4z" class="c c2-5"/>
          <path d="M0 31.75h6.35V25.4H0Z" class="c c3-1"/>
          <path d="M6.35 31.75h6.35V25.4H6.35Z" class="c c3-2"/>
          <path d="M12.7 31.75h6.35V25.4H12.7z" class="c c3-3"/>
          <path d="M19.05 31.75h6.35V25.4h-6.35z" class="c c3-4"/>
          <path d="M25.4 31.75h6.35V25.4H25.4z" class="c c3-5"/>
        </svg>
      </button>

      <div id="menuContent">
        <div id="settings">
          <div class="settingsRow settingsRow--service">
            <label for="serviceSelector">
              Service
            </label>
            <select
              id="serviceSelector"
              class="select select--service"
              onchange="serviceChange(event);"
            >
              {% for key, value in SERVICES_AVAILABLE %}
                <option value="{{ key }}">{{ value.name }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="settingsRow settingsRow--controls">
            <label for="controlsSelector">
              Controls
            </label>
            <select
              id="controlsSelector"
              class="select select--controls"
              onchange="controlsChange();"
            >
              <option value="standard">Standard</option>
              <option value="zapper">Zapper</option>
              <option value="minimal">Minimal</option>
              <option value="bigscreen">Big Screen</option>
            </select>
          </div>

          <div class="settingsRow settingsRow--display">
            <label for="displaySelector">
              Display
            </label>
            <select
              id="displaySelector"
              class="select select--display"
              onchange="displayChange();"
            >
              <option value="standard">Standard</option>
              <option value="fitscreen">Fit screen</option>
              <option value="fullscreen">Fullscreen</option>
            </select>
          </div>

          <div class="settingsRow settingsRow--scale">
            <label for="scaleSelector">
              Scale
            </label>
            <select
              id="scaleSelector"
              class="select select--scale"
              onchange="scaleChange();"
            >
              <option value="1">1x</option>
              <option value="1.5">1.5x</option>
              <option value="2">2x</option>
            </select>
          </div>
        </div>

        <div id="gridSelect">
          <button class="controlsButton" onclick="toggleGrid();">
            <span>
              <span class="gridSelectButtonText gridSelectButtonText--show">
                Show Grid
              </span>

              <span class="gridSelectButtonText gridSelectButtonText--hide">
                Hide Grid
              </span>
            </span>
          </button>
        </div>

        <div id="grabSelect">
          <button class="controlsButton" onclick="exportPage();">
            <span>
              Grab...
            </span>
          </button>

          <ul id="grabSelectLinks" data-visible="false">
            <li>
              <a id="dynamicLink" href="#" target="_blank"></a>
            </li>

            <li>
              <a id="dynamicLink2" href="#" target="_blank"></a>
            </li>

            <li>
              <a id="dynamicLink3" href="#" target="_blank"></a>
            </li>
          </ul>
        </div>

        <div id="serviceSelect">
          <button class="controlsButton" onclick="cheatSheet();">
            <span>
              Cheat sheet
            </span>
          </button>
        </div>
      </div>
    </div>


    <!-- Bonus song! https://www.youtube.com/watch?v=oOqeh8jYeFE -->
    <div id="wrapper">
      <div id="canvas"></div>


      <div id="controls">
        <div id="fastextControls">
          <button class="button button--red" id="red" onclick="fastextR();">Red</button>
          <button class="button button--green" id="green" onclick="fastextG();">Green</button>
          <button class="button button--yellow" id="yellow" onclick="fastextY();">Yellow</button>
          <button class="button button--cyan" id="cyan" onclick="fastextC();">Cyan</button>

          <!-- <button style="width:140px;"   onClick="showText();"  id="none"/>?</button>
          <button style="width:140px;" id="index"/>Index</button> -->
          <!-- Page <textarea>100</textarea>  This should make it easier for mobile users one day -->
        </div>

        <div id="controlsRow">
          <div id="serviceSelectorControls">
            <label for="serviceSelector2">
              Service
            </label>
            <select
              id="serviceSelector2"
              class="select select--service"
              onchange="serviceChange(event);"
            >
              {% for key, value in SERVICES_AVAILABLE %}
                <option value="{{ key }}">{{ value.name }}</option>
              {% endfor %}
            </select>
          </div>

          <div id="pageNumberControls">
            <label for="pageNumber">
              Page
            </label>
            <input
              id="pageNumber"
              class="input input--page-number"
              type="number"
              name="quantity"
              min="0"
              max="899"
              value="100"
              onchange="inputNumber();"
            />
          </div>
        </div>

        <!-- if the phone is sideways, how do we move this to the right? Answer: Don't use this. Use a standard number input field-->
        <div id="keypadControls">
          <button class="button button--keypad" id="krvl" onclick="krvl();">Reveal</button>
          <button class="button button--keypad" id="khold" onclick="khold();">Hold</button>
          <button class="button button--keypad" id="kback" onclick="kback();">&lt;</button>
          <button class="button button--keypad" id="kfwd" onclick="kfwd();">&gt;</button>
        </div>

        <div id="description"></div>

        <p id="info">
          Type in a number to get to a page or try a Fastext button.<br/>
          Pages 100 to 131 are automatically generated from BBC News.<br/>
          Page 400 is live data from a Cumulus weather station<br/>
          All other pages are archived from BBC ONE on 20/11/2007<br/>
          Project source is on GitHub at <a href="https://github.com/peterkvt80/Muttlee">Muttlee Project</a>
        </p>

        <!--<button class="button button--keypad" style="width:140px; height:100px;"  id="kinfo">Info</button> -->
      </div>


      {% if ZAPPER_STANDARD_SVG %}
        <div id="zapperWrapperStandard">
          {{ ZAPPER_STANDARD_SVG | safe }}
        </div>
      {% endif %}

      {% if ZAPPER_COMPACT_SVG %}
        <div id="zapperWrapperCompact">
          {{ ZAPPER_COMPACT_SVG | safe }}
        </div>
      {% endif %}
    </div>


    <script>
      var hide = true;

      function showText() {
        if (hide) {
          document.getElementById('info').style.display = 'none';
        } else {
          document.getElementById('info').style.display = 'block';
        }

        hide = !hide;
      }

      showText();
    </script>
  </body>
</html>
