<!DOCTYPE html>
{% if LOGO_CHARS %}
<!--
{{ LOGO_CHARS }}
-->
{% endif %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>{{ TITLE }}</title>

    {% if LOGO_CHARS %}
      <script>
        if (window.console && (typeof console.log === 'function')) {
          console.log(('{{ LOGO_CHARS | replace("\n", "::n::") }}' + '::n::').replace(/::n::/g, '\n'));
        }
      </script>
    {% endif %}

    {% if IS_DEV %}
      <script src="libraries/socket.io.min.js"></script>
      <script src="libraries/p5.js"></script>
    {% else %}
      <script src="libraries/socket.io.min.js"></script>
      <script src="libraries/p5.min.js"></script>
    {% endif %}

    <script src="constants.js"></script>
    <script src="config.js"></script>
    <script src="log.js"></script>

    <script src="ttxpage.js"></script>
    <script src="edittf.js"></script>
    <script src="charchanged.js"></script>
    <script src="sketch.js"></script>
    <script src="cursor.js"></script>

    <link rel="stylesheet" type="text/css" href="muttlee.css">
  </head>

  <body{% if LOGO_SVG %} data-has-logo="true"{% endif %}>
    <h1 class="u-show-for-sr">
      {{ TITLE }}
    </h1>

    {% if LOGO_SVG %}
      <a id="logo" href="/" onclick="reloadService(event);">
        {{ LOGO_SVG | safe }}
      </a>
    {% endif %}

    <div id="menu">
      <nav>
        <button id="menuButton" onclick="toggleMenu();">
          <svg class="menuIcon" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 31.75 31.75">
            <path d="M0 0h6.35v6.35H0Z" class="c c1-1"/>
            <path d="M6.35 0h6.35v6.35H6.35Z" class="c c1-2"/>
            <path d="M12.7 0h6.35v6.35H12.7z" class="c c1-3"/>
            <path d="M19.05 0h6.35v6.35h-6.35z" class="c c1-4"/>
            <path d="M25.4 0h6.35v6.35H25.4z" class="c c1-5"/>
            <path d="M0 19.05h6.35V12.7H0Z" class="c c2-1"/>
            <path d="M6.35 19.05h6.35V12.7H6.35Z" class="c c2-2"/>
            <path d="M12.7 19.05h6.35V12.7H12.7z" class="c c2-3"/>
            <path d="M19.05 19.05h6.35V12.7h-6.35z" class="c c2-4"/>
            <path d="M25.4 19.05h6.35V12.7H25.4z" class="c c2-5"/>
            <path d="M0 31.75h6.35V25.4H0Z" class="c c3-1"/>
            <path d="M6.35 31.75h6.35V25.4H6.35Z" class="c c3-2"/>
            <path d="M12.7 31.75h6.35V25.4H12.7z" class="c c3-3"/>
            <path d="M19.05 31.75h6.35V25.4h-6.35z" class="c c3-4"/>
            <path d="M25.4 31.75h6.35V25.4H25.4z" class="c c3-5"/>
          </svg>
        </button>
      </nav>

      <div id="menuContent">
        <div id="settings">
          <div class="settingsRow settingsRow--service">
            <label for="serviceSelector">
              Service
            </label>
            <select
              id="serviceSelector"
              class="select select--service"
              onchange="serviceChange(event);"
            >
              {% for key, value in SERVICES_AVAILABLE %}
                {% if value | isArray %}
                  <optgroup label="{{ key }}">
                    {% for item in value %}
                      <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                  </optgroup>
                {% else %}
                  <option value="{{ key }}">{{ value.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>

          <div class="settingsRow settingsRow--controls">
            <label for="controlsSelector">
              Controls
            </label>
            <select
              id="controlsSelector"
              class="select select--controls"
              onchange="controlsChange();"
            >
              <option value="standard">Standard</option>
              <option value="zapper">Zapper</option>
              <option value="minimal">Minimal</option>
              <option value="bigscreen">Big Screen</option>
            </select>
          </div>

          <div class="settingsRow settingsRow--display">
            <label for="displaySelector">
              Display
            </label>
            <select
              id="displaySelector"
              class="select select--display"
              onchange="displayChange();"
            >
              <option value="standard">Standard</option>
              <option value="fitscreen">Fit screen</option>
              <option value="fullscreen">Fullscreen</option>
            </select>
          </div>

          <div class="settingsRow settingsRow--scale">
            <label for="scaleSelector">
              Scale
            </label>
            <select
              id="scaleSelector"
              class="select select--scale"
              onchange="scaleChange();"
            >
              <option value="1">1x</option>
              <option value="1.5">1.5x</option>
              <option value="2">2x</option>
            </select>
          </div>

          <div class="settingsRow settingsRow--autoplay">
            <label for="autoplaySelector">
              Autoplay
            </label>
            <select
              id="autoplaySelector"
              class="select select--autoplay"
              onchange="autoplayChange();"
            >
              <option value="none">No Autoplay</option>
              <option value="sequential">Sequential</option>
              <option value="random">Random</option>
            </select>
          </div>
        </div>

        <div id="gridSelect" class="menuSection">
          <button class="controlsButton" onclick="toggleGrid();">
            <span>
              <span class="gridSelectButtonText gridSelectButtonText--show">
                Show Grid
              </span>

              <span class="gridSelectButtonText gridSelectButtonText--hide">
                Hide Grid
              </span>
            </span>
          </button>
        </div>

        <div id="manifestSelect" class="menuSection">
          <button class="controlsButton" onclick="toggleManifest();">
            <span>
              Manifest...
            </span>
          </button>
        </div>

        <div id="instructionsSelect" class="menuSection">
          <button class="controlsButton" onclick="toggleInstructions();">
            <span>
              Cheatsheet...
            </span>
          </button>
        </div>

        <div id="grabSelect" class="menuSection">
          <button class="controlsButton" onclick="exportPage();">
            <span>
              Grab...
            </span>
          </button>

          <ul id="grabSelectLinks" data-visible="false">
            <li>
              <a id="dynamicLink" href="#" target="_blank" rel="noopener noreferrer"></a>
            </li>

            <li>
              <a id="dynamicLink2" href="#" target="_blank" rel="noopener noreferrer"></a>
            </li>

            <li>
              <a id="dynamicLink3" href="#" target="_blank"></a>
            </li>
          </ul>
        </div>

        <div id="aboutSelect" class="menuSection">
          <button class="controlsButton" onclick="toggleAbout();">
            <span>
              About...
            </span>
          </button>
        </div>


        <div id="credit"></div>
      </div>
    </div>


    <!-- Bonus song! https://www.youtube.com/watch?v=oOqeh8jYeFE -->
    <div id="wrapper">
      <div id="canvas"></div>


      <div id="controls">
        <div id="fastextControls">
          <button class="button button--red" id="red" onclick="fastextR();" title="Red [u]">Red</button>
          <button class="button button--green" id="green" onclick="fastextG();" title="Green [i]">Green</button>
          <button class="button button--yellow" id="yellow" onclick="fastextY();" title="Yellow [o]">Yellow</button>
          <button class="button button--cyan" id="cyan" onclick="fastextC();" title="Cyan [p]">Cyan</button>
        </div>

        <div id="controlsRow">
          <div id="serviceSelectorControls">
            <label for="serviceSelector2">
              Service
            </label>
            <select
              id="serviceSelector2"
              class="select select--service"
              onchange="serviceChange(event);"
            >
              {% for key, value in SERVICES_AVAILABLE %}
                {% if value | isArray %}
                  <optgroup label="{{ key }}">
                    {% for item in value %}
                      <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                  </optgroup>
                {% else %}
                  <option value="{{ key }}">{{ value.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>

          <div id="pageNumberControls">
            <label for="pageNumber">
              Page
            </label>
            <input
              id="pageNumber"
              class="input input--page-number"
              type="number"
              name="quantity"
              min="0"
              max="899"
              value="100"
              onchange="inputNumber();"
            />

            <button id="randomPage" onclick="randomPage(event);" title="Random page [d]">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                <path d="M0 0v16h64V0H0zm64 16v16h16V16H64zm0 16H16v32h16V48h32V32zM32 64v16h16V64H32z"/>
              </svg>
            </button>
          </div>
        </div>

        <!-- Use a standard number input field. It works better on phones -->
        <div id="keypadControls">
          <button class="button button--keypad" id="krvl" onclick="krvl();" title="Reveal [r]">Reveal</button>
          <button class="button button--keypad" id="khold" onclick="khold();" title="Hold [h]">Hold</button>
          <button class="button button--keypad" id="kback" onclick="kback();" title="Back one page [b]">&lt;</button>
          <button class="button button--keypad" id="kfwd" onclick="kfwd();" title="Forward one page [f]">&gt;</button>
        </div>

        <div id="descriptionDiv"></div>
      </div>


      {% if ZAPPER_STANDARD_SVG %}
        <div id="zapperWrapperStandard">
          {{ ZAPPER_STANDARD_SVG | safe }}
        </div>
      {% endif %}

      {% if ZAPPER_COMPACT_SVG %}
        <div id="zapperWrapperCompact">
          {{ ZAPPER_COMPACT_SVG | safe }}
        </div>
      {% endif %}
    </div>


    <div id="manifest" class="manifest">
      <div class="manifestContent">
        <header>
          <h2>
            <span>
              Manifest
            </span>
            <span id="lastUpdated"></span>
          </h2>

          <button id="manifestCloseButton" onclick="toggleManifest();">
            <svg class="menuIcon" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 31.75 31.75">
              <path d="M0 0h6.35v6.35H0Z" class="c c1-1"/>
              <path d="M6.35 0h6.35v6.35H6.35Z" class="c c1-2"/>
              <path d="M12.7 0h6.35v6.35H12.7z" class="c c1-3"/>
              <path d="M19.05 0h6.35v6.35h-6.35z" class="c c1-4"/>
              <path d="M25.4 0h6.35v6.35H25.4z" class="c c1-5"/>
              <path d="M0 19.05h6.35V12.7H0Z" class="c c2-1"/>
              <path d="M6.35 19.05h6.35V12.7H6.35Z" class="c c2-2"/>
              <path d="M12.7 19.05h6.35V12.7H12.7z" class="c c2-3"/>
              <path d="M19.05 19.05h6.35V12.7h-6.35z" class="c c2-4"/>
              <path d="M25.4 19.05h6.35V12.7H25.4z" class="c c2-5"/>
              <path d="M0 31.75h6.35V25.4H0Z" class="c c3-1"/>
              <path d="M6.35 31.75h6.35V25.4H6.35Z" class="c c3-2"/>
              <path d="M12.7 31.75h6.35V25.4H12.7z" class="c c3-3"/>
              <path d="M19.05 31.75h6.35V25.4h-6.35z" class="c c3-4"/>
              <path d="M25.4 31.75h6.35V25.4H25.4z" class="c c3-5"/>
            </svg>
          </button>
        </header>

        <div class="manifestContentInner">
          [Loading...]
        </div>
      </div>
    </div>


    <div id="instructions" class="instructions">
      <div class="instructionsContent">
        <header>
          <h2>
            Cheatsheet
            <a href="#" onclick="window.open('/assets/WikiTelFax.pdf');">
              PDF
            </a>
          </h2>

          <button id="instructionsCloseButton" onclick="toggleInstructions();">
            <svg class="menuIcon" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 31.75 31.75">
              <path d="M0 0h6.35v6.35H0Z" class="c c1-1"/>
              <path d="M6.35 0h6.35v6.35H6.35Z" class="c c1-2"/>
              <path d="M12.7 0h6.35v6.35H12.7z" class="c c1-3"/>
              <path d="M19.05 0h6.35v6.35h-6.35z" class="c c1-4"/>
              <path d="M25.4 0h6.35v6.35H25.4z" class="c c1-5"/>
              <path d="M0 19.05h6.35V12.7H0Z" class="c c2-1"/>
              <path d="M6.35 19.05h6.35V12.7H6.35Z" class="c c2-2"/>
              <path d="M12.7 19.05h6.35V12.7H12.7z" class="c c2-3"/>
              <path d="M19.05 19.05h6.35V12.7h-6.35z" class="c c2-4"/>
              <path d="M25.4 19.05h6.35V12.7H25.4z" class="c c2-5"/>
              <path d="M0 31.75h6.35V25.4H0Z" class="c c3-1"/>
              <path d="M6.35 31.75h6.35V25.4H6.35Z" class="c c3-2"/>
              <path d="M12.7 31.75h6.35V25.4H12.7z" class="c c3-3"/>
              <path d="M19.05 31.75h6.35V25.4h-6.35z" class="c c3-4"/>
              <path d="M25.4 31.75h6.35V25.4H25.4z" class="c c3-5"/>
            </svg>
          </button>
        </header>

        <div class="instructionsContentInner">
          <div class="column">
            <h3>
              Coloured text
            </h3>
            <table>
              <tbody>
                <tr>
                  <td>
                    <kbd>r</kbd>
                  </td>
                  <td>
                    red text
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>g</kbd>
                  </td>
                  <td>
                    green text
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>y</kbd>
                  </td>
                  <td>
                    yellow text
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>b</kbd>
                  </td>
                  <td>
                    blue text
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>m</kbd>
                  </td>
                  <td>
                    magenta text
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>c</kbd>
                  </td>
                  <td>
                    cyan text
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>w</kbd>
                  </td>
                  <td>
                    white text
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>k</kbd>
                  </td>
                  <td>
                    black text
                  </td>
                </tr>
              </tbody>
            </table>


            <h3>
              Coloured graphics
            </h3>
            <table>
              <tbody>
                <tr>
                  <td>
                    <kbd>R</kbd>
                  </td>
                  <td>
                    red graphics
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>G</kbd>
                  </td>
                  <td>
                    green graphics
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>Y</kbd>
                  </td>
                  <td>
                    yellow graphics
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>B</kbd>
                  </td>
                  <td>
                    blue graphics
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>M</kbd>
                  </td>
                  <td>
                    magenta graphics
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>C</kbd>
                  </td>
                  <td>
                    cyan graphics
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>W</kbd>
                  </td>
                  <td>
                    white graphics
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>K</kbd>
                  </td>
                  <td>
                    black graphics
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


          <div class="column">
            <h3>
              Subpages
            </h3>
            <table>
              <tbody>
              <tr>
                <td class="wide">
                  <kbd>Page Up</kbd>
                </td>
                <td>
                  Next subpage
                </td>
              </tr>

              <tr>
                <td class="wide">
                  <kbd>Page Down</kbd>
                </td>
                <td>
                  Previous subpage
                </td>
              </tr>

              <tr>
                <td>
                  <kbd>Insert</kbd>
                </td>
                <td>
                  Add a subpage
                </td>
              </tr>

              <tr>
                <td>
                  <kbd>Delete</kbd>
                </td>
                <td>
                  Remove a subpage
                </td>
              </tr>
              </tbody>
            </table>


            <h3>
              Effects
            </h3>
            <table>
              <tbody>
                <tr>
                  <td class="wide">
                    <kbd>f</kbd> / <kbd>F</kbd>
                  </td>
                  <td>
                    steady / flash
                  </td>
                </tr>

                <tr>
                  <td class="wide">
                    <kbd>h</kbd> / <kbd>H</kbd>
                  </td>
                  <td>
                    release / hold graphics
                  </td>
                </tr>

                <tr>
                  <td class="wide">
                    <kbd>d</kbd> / <kbd>d</kbd>
                  </td>
                  <td>
                    normal / double height
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>O</kbd>
                  </td>
                  <td>
                    conceal
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>S</kbd>
                  </td>
                  <td>
                    separated graphics
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>s</kbd>
                  </td>
                  <td>
                    contiguous graphics
                  </td>
                </tr>
              </tbody>
            </table>


            <h3>
              Colour effects
            </h3>
            <table>
              <tbody>
              <tr>
                <td>
                  <kbd>N</kbd>
                </td>
                <td>
                  new background
                </td>
              </tr>

              <tr>
                <td>
                  <kbd>n</kbd>
                </td>
                <td>
                  end / black background
                </td>
              </tr>
              </tbody>
            </table>
          </div>


          <div class="column">
            <div class="columnInner">
              <h3>
                Layout
              </h3>
              <table>
                <tbody>
                <tr>
                  <td>
                    <kbd>x</kbd>
                  </td>
                  <td>
                    toggle grid
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>Z</kbd>
                  </td>
                  <td>
                    clear page
                  </td>
                </tr>
                </tbody>
              </table>


              <h3>
                Navigation (no <kbd>esc</kbd>)
              </h3>
              <table class="compact">
                <tbody>
                <tr>
                  <td class="ultrawide">
                    <kbd>Left</kbd>,
                    <kbd>Right</kbd>,
                    <kbd>Up</kbd>,
                    <kbd>Down</kbd>
                  </td>
                  <td>
                    Move cursor
                  </td>
                </tr>
                </tbody>
              </table>

              <table>
                <tbody>
                <tr>
                  <td>
                    <kbd>Tab</kbd>
                  </td>
                  <td>
                    Insert a space
                  </td>
                </tr>

                <tr>
                  <td class="wide">
                    <kbd>Backspace</kbd>
                  </td>
                  <td>
                    Delete a space
                  </td>
                </tr>
                </tbody>
              </table>
            </div>


            <div class="columnInner">
              <h3>
                Sixel Graphics (no <kbd>esc</kbd>)
              </h3>
              <p>
                In a graphics region, use these keys to toggle sixels.
              </p>
              <table>
                <tbody>
                <tr>
                  <td>
                    <kbd>Q</kbd>
                  </td>
                  <td>
                    <kbd>W</kbd>
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>A</kbd>
                  </td>
                  <td>
                    <kbd>S</kbd>
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>Z</kbd>
                  </td>
                  <td>
                    <kbd>X</kbd>
                  </td>
                </tr>
                </tbody>

                <tbody>
                <tr>
                  <td>
                    <kbd>R</kbd>
                  </td>
                  <td>
                    Reverse all bits
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>F</kbd>
                  </td>
                  <td>
                    Fill all bits
                  </td>
                </tr>

                <tr>
                  <td>
                    <kbd>C</kbd>
                  </td>
                  <td>
                    Clear all bits
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="about" class="about">
      <div class="aboutContent">
        <header>
          <h2>
            About {{ TITLE }}
          </h2>

          <button id="aboutCloseButton" onclick="toggleAbout();">
            <svg class="menuIcon" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 31.75 31.75">
              <path d="M0 0h6.35v6.35H0Z" class="c c1-1"/>
              <path d="M6.35 0h6.35v6.35H6.35Z" class="c c1-2"/>
              <path d="M12.7 0h6.35v6.35H12.7z" class="c c1-3"/>
              <path d="M19.05 0h6.35v6.35h-6.35z" class="c c1-4"/>
              <path d="M25.4 0h6.35v6.35H25.4z" class="c c1-5"/>
              <path d="M0 19.05h6.35V12.7H0Z" class="c c2-1"/>
              <path d="M6.35 19.05h6.35V12.7H6.35Z" class="c c2-2"/>
              <path d="M12.7 19.05h6.35V12.7H12.7z" class="c c2-3"/>
              <path d="M19.05 19.05h6.35V12.7h-6.35z" class="c c2-4"/>
              <path d="M25.4 19.05h6.35V12.7H25.4z" class="c c2-5"/>
              <path d="M0 31.75h6.35V25.4H0Z" class="c c3-1"/>
              <path d="M6.35 31.75h6.35V25.4H6.35Z" class="c c3-2"/>
              <path d="M12.7 31.75h6.35V25.4H12.7z" class="c c3-3"/>
              <path d="M19.05 31.75h6.35V25.4h-6.35z" class="c c3-4"/>
              <path d="M25.4 31.75h6.35V25.4H25.4z" class="c c3-5"/>
            </svg>
          </button>
        </header>

        <p>
          Type in a number to get to a page or try a Fastext button.
        </p>

        <p>
          Pages 100 to 131 are automatically generated from BBC News.
        </p>

        <p>
          Page 400 is live data from a Cumulus weather station.
        </p>

        <p>
          All other pages are archived from BBC ONE on 20/11/2007.
        </p>

        <p>
          Project source is on GitHub at <a href="https://github.com/peterkvt80/Muttlee" target="_blank" rel="noopener noreferrer">Muttlee Project</a>
        </p>
      </div>
    </div>
  </body>
</html>
