// sizes
$menu-padding: 16px;
$menu-button-width: 240px;
$menu-button-spacing: 40px;

// colours
$colour--black: #000000;
$colour--white: #ffffff;
$colour--red: #ff0000;
$colour--green: #00ff00;
$colour--blue: #0000ff;
$colour--yellow: #ffff00;
$colour--cyan: #00ffff;
$colour--magenta: #ff00ff;

$colour--black--70: rgba(0, 0, 0, 0.7);
$colour--grey: #777777;

$colour--lightgrey: #cedce7;
$colour--darkgrey: #333333;
$colour--brown: #302010;
$colour--beige: #bb5000;

$colours--fg: (
    'white': $colour--white,
    'red': $colour--red,
    'green': $colour--green,
    'blue': $colour--blue,
    'yellow': $colour--yellow,
    'cyan': $colour--cyan,
    'magenta': $colour--magenta
);

// font families
$font-family--teletext2: 'Teletext2', 'Arial', 'Helvetica', sans-serif;
$font-family--teletext4: 'Teletext4', 'Arial', 'Helvetica', sans-serif;


// mixins
@mixin menu-obscures-canvas {
    #menu {
        // add pixelated blur backdrop to menu
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            margin-right: -64px;
            z-index: -1;

            backdrop-filter: url(/assets/pixelate.svg#pixelate) grayscale(100%) blur(2px);
            transition: margin-right 0.4s ease-in-out;

            @at-root {
                [data-menu-open="true"] #menu::before {
                    margin-right: 0;
                }
            }
        }

        // add additional blurred background to menu buttons
        .menuSection {
            button {
                backdrop-filter: blur(6px) brightness(50%);

                &:hover,
                &:focus {
                    backdrop-filter: blur(10px) brightness(25%);
                }
            }
        }

        // add RGB phosphor glow effect behind settings labels for better visibility
        .settingsRow {
            &:nth-child(1) {
                label {
                    text-shadow: 0 0 4px $colour--black,
                        0 0 8px $colour--black,
                        0 0 16px $colour--black,
                        0 0 24px $colour--red,
                        0 0 32px $colour--red,
                        0 0 48px $colour--red;
                }
            }

            &:nth-child(2) {
                label {
                    text-shadow: 0 0 4px $colour--black,
                        0 0 8px $colour--black,
                        0 0 16px $colour--black,
                        0 0 24px $colour--green,
                        0 0 32px $colour--green,
                        0 0 48px $colour--green;
                }
            }

            &:nth-child(3) {
                label {
                    text-shadow: 0 0 4px $colour--black,
                        0 0 8px $colour--black,
                        0 0 16px $colour--black,
                        0 0 24px $colour--blue,
                        0 0 32px $colour--blue,
                        0 0 48px $colour--blue;
                }
            }

            &:nth-child(4) {
                label {
                    text-shadow: 0 0 4px $colour--black,
                        0 0 8px $colour--black,
                        0 0 16px $colour--black,
                        0 0 24px $colour--magenta,
                        0 0 32px $colour--magenta,
                        0 0 48px $colour--magenta;
                }
            }
        }
    }

    // hide letters in logo
    #logo {
        svg {
            .c {
                opacity: 0;
            }

            .c1 {
                opacity: 1;
            }
        }
    }
}




@font-face {
    font-family: 'Teletext2';
    src: url('/assets/teletext2.ttf') format('truetype');
}

@font-face {
    font-family: 'Teletext4';
    src: url('/assets/teletext4.ttf') format('truetype');
}


html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 200%;
    color: $colour--white;
    background-color: $colour--brown;
    font-family: $font-family--teletext2;
    overflow-x: hidden;
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
}


// hide visibly, but allow detection by screenreaders
.u-show-for-sr {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}


h1 {
    top: 0;
    left: 0;
    pointer-events: none;
}


.input {
    padding: 0 8px;
    font-size: 100%;
    font-family: $font-family--teletext2;
    border: 4px solid transparent;
    border-radius: 3px;

    &:focus {
        border-color: $colour--cyan;
    }

    // variants
    &--page-number {
        width: 100px;
        height: 50px;
    }
}


.select {
    padding: 4px 12px;
    font-size: 100%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: $font-family--teletext4;

    &:focus,
    &:hover {
        outline: 0;
    }
}


label {
    font-family: $font-family--teletext4;
    font-weight: 700;
}


button {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: $font-family--teletext4;
    user-select: none;

    &:focus,
    &:hover {
        outline: 0;
    }
}


.button {
    border-radius: 8px;
    padding: 10px;
    height: 100px;
    color: $colour--black;
    font-weight: 700;
    text-decoration: none;
    font-size: 100%;
}


.button--keypad {
    border: 1px solid darken($colour--lightgrey, 10%);
    background-color: lighten($colour--lightgrey, 10%);
    background-image: linear-gradient(to bottom, lighten($colour--lightgrey, 10%), darken($colour--lightgrey, 7%));
    box-shadow: inset 0 -8px 0 0 darken($colour--lightgrey, 20%), inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;

    &:hover {
        border: 1px solid darken($colour--lightgrey, 15%);
        background-color: lighten($colour--lightgrey, 5%);
        background-image: linear-gradient(to bottom, lighten($colour--lightgrey, 5%), darken($colour--lightgrey, 12%));
    }
}


.button--red {
    border: 1px solid darken($colour--red, 10%);
    background-color: lighten($colour--red, 10%);
    background-image: linear-gradient(to bottom, lighten($colour--red, 10%), darken($colour--red, 7%));
    box-shadow: inset 0 -8px 0 0 darken($colour--red, 20%), inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;

    &:hover {
        border: 1px solid darken($colour--red, 15%);
        background-color: lighten($colour--red, 5%);
        background-image: linear-gradient(to bottom, lighten($colour--red, 5%), darken($colour--red, 12%));
    }
}

.button--green {
    border: 1px solid darken($colour--green, 10%);
    background-color: lighten($colour--green, 10%);
    background-image: linear-gradient(to bottom, lighten($colour--green, 10%), darken($colour--green, 7%));
    box-shadow: inset 0 -8px 0 0 darken($colour--green, 20%), inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;

    &:hover {
        border: 1px solid darken($colour--green, 15%);
        background-color: lighten($colour--green, 5%);
        background-image: linear-gradient(to bottom, lighten($colour--green, 5%), darken($colour--green, 12%));
    }
}

.button--yellow {
    border: 1px solid darken($colour--yellow, 10%);
    background-color: lighten($colour--yellow, 10%);
    background-image: linear-gradient(to bottom, lighten($colour--yellow, 10%), darken($colour--yellow, 7%));
    box-shadow: inset 0 -8px 0 0 darken($colour--yellow, 20%), inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;

    &:hover {
        border: 1px solid darken($colour--yellow, 15%);
        background-color: lighten($colour--yellow, 5%);
        background-image: linear-gradient(to bottom, lighten($colour--yellow, 5%), darken($colour--yellow, 12%));
    }
}

.button--cyan {
    border: 1px solid darken($colour--cyan, 10%);
    background-color: lighten($colour--cyan, 10%);
    background-image: linear-gradient(to bottom, lighten($colour--cyan, 10%), darken($colour--cyan, 7%));
    box-shadow: inset 0 -8px 0 0 darken($colour--cyan, 20%), inset -2px 0 0 0 #8F8F8F, inset 3px 0 0 0 #B5B5B5, 0 6px 4px 0 #C7C7BB;

    &:hover {
        border: 1px solid darken($colour--cyan, 15%);
        background-color: lighten($colour--cyan, 5%);
        background-image: linear-gradient(to bottom, lighten($colour--cyan, 5%), darken($colour--cyan, 12%));
    }
}


.centre-div {
    margin: auto;
    position: absolute;
    top: 0;
    visibility: visible;
}

.grabButton {
    margin: 0 auto;
    width: 600px;
    height: 550px;
    position: absolute;
    top: 0;
}


.controlsButton {
    position: relative;
    padding: initial;
    width: auto;
    height: auto;
    border: none;
    box-sizing: border-box;
    font-size: 32px;
    background: transparent;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    border-left: 8px solid $colour--white;
    border-right: 8px solid $colour--white;

    > span {
        display: block;
        padding: 40px;
        margin: -8px 0;
        color: $colour--white;
        border-top: 8px solid $colour--white;
        border-bottom: 8px solid $colour--white;

        @media only screen and (max-height: 900px) {
            padding: 20px 40px;
        }
    }

    &::before,
    &::after,
    > span::before,
    > span::after {
        content: '';
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        background: $colour--white;
    }

    &::before {
        top: -5px;
        left: -5px;
    }

    &::after {
        top: -5px;
        right: -5px;
    }

    > span::before {
        bottom: -5px;
        left: -5px;
    }

    > span::after {
        bottom: -5px;
        right: -5px;
    }
}




#logo {
    position: absolute;
    height: 51px;
    width: 226px;
    top: 0;
    left: 0;

    svg {
        width: 100%;

        path {
            fill: $colour--white;
        }
    }
}




#menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    #menuButton {
        width: 64px;
        height: 64px;
        padding: $menu-padding;
        background: none;
        border: 0;
    }

    #menuContent {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: -500px;
        padding: $menu-padding $menu-padding $menu-padding #{$menu-padding * 2};

        transition: margin-right 0.5s ease-in-out;

        @at-root {
            [data-menu-open="true"] & {
                margin-right: 0;
            }
        }
    }

    .menuIcon {
        width: 100%;
        height: 100%;

        .c {
            fill: $colour--white;
            stroke: $colour--white;
            stroke-width: 1px;
            transform: translate(0, 0);

            transition: transform 0.2s linear;
        }

        @at-root {
            [data-menu-open="true"] {
                #menu .menuIcon {
                    .c1-2 {
                        transform: translate(0, 6.3px);
                    }
                    .c1-3 {
                        transform: translate(0, 12.6px);
                    }
                    .c1-4 {
                        transform: translate(0, 6.3px);
                    }

                    .c2-1 {
                        transform: translate(12.6px, 0);
                    }
                    .c2-2 {
                        transform: translate(6.3px, 0);
                    }
                    .c2-4 {
                        transform: translate(-6.3px, 0);
                    }
                    .c2-5 {
                        transform: translate(-12.6px, 0);
                    }

                    .c3-2 {
                        transform: translate(0, -6.3px);
                    }
                    .c3-3 {
                        transform: translate(0, -12.6px);
                    }
                    .c3-4 {
                        transform: translate(0, -6.3px);
                    }
                }
            }
        }
    }

    .menuSection {
        display: flex;
        flex-direction: column;
        margin-top: #{$menu-button-spacing / 2};
        padding: 8px 0;

        button {
            width: $menu-button-width;
            min-height: 100px;

            @media only screen and (max-height: 900px) {
                min-height: 80px;
            }
        }
    }

    #instructionsSelect {
        button {
            margin: #{$menu-button-spacing / 2} 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    #grabSelect {
        align-items: flex-end;
        position: relative;

        #grabSelectLinks {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: absolute;
            top: 0;
            right: #{$menu-button-width + ($menu-button-spacing / 2)};
            margin: 0;
            padding: 0;
            list-style: none;

            transition: max-height 0.3s ease-in-out,
                opacity 0.3s ease-in-out;

            li {
                margin: 0;
                padding: 12px 0;

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    padding-bottom: 0;
                }

                a {
                    display: inline-block;
                    padding: 7px 10px;
                    text-align: right;
                    background-color: $colour--beige;
                    color: $colour--white;
                }
            }

            &[data-visible="false"] {
                max-height: 0;
                opacity: 0;
                pointer-events: none;
            }

            &[data-visible="true"] {
                max-height: 100%;
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}


#settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: #{$menu-button-spacing / 2};
}

.settingsRow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 8px 0;

    label {
        margin-right: 16px;
        font-family: $font-family--teletext4;
    }

    select {
        width: $menu-button-width;
        font-family: $font-family--teletext4;
    }
}




#menu {
    #instructionsSelect {
        // only shown for editable services
        display: none;
    }
}




#wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}




#controls {
    width: 100%;
    margin-top: 40px;
}


#fastextControls {
    display: flex;
    flex-direction: row;
    width: 100%;

    button {
        flex-basis: 100%;
        margin: 0 10px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}


#controlsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 40px 0;

    .select {
        // variants
        &--service {
            box-sizing: content-box;
            height: 50px;
        }
    }
}


#keypadControls {
    display: flex;
    flex-direction: row;
    width: 100%;

    button {
        flex-basis: 100%;
        margin: 0 10px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}




#description {
    width: 100%;
    margin: 40px 0;
    font-size: 100%;
    text-align: left;
    font-family: $font-family--teletext4;
}


#credit {
    position: fixed;
    bottom: 16px;
    right: 16px;
    margin-right: -500px;
    font-family: $font-family--teletext4;
    color: $colour--white;
    opacity: 0.2;

    transition: margin-right 0.5s ease-in-out 0.1s,
        opacity 0.2s ease-in-out;

    a {
        color: $colour--white;
    }

    &:hover,
    &:focus {
        opacity: 1;
    }

    @at-root {
        [data-menu-open="true"] & {
            display: block;
            margin-right: 0;
        }
    }

    @media only screen and (max-height: 900px) {
        position: relative;
        bottom: 0;
        right: 0;
        margin-top: 60px;
        opacity: 1;

        text-shadow: 0 0 4px $colour--black,
            0 0 8px $colour--black,
            0 0 16px $colour--black,
            0 0 24px $colour--yellow,
            0 0 32px $colour--yellow,
            0 0 48px $colour--yellow;
    }
}




.manifest {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $colour--black--70;

    .manifestContent {
        display: none;
        position: fixed;
        width: 864px;
        height: 682px;
        top: calc(50% - (682px / 2));
        left: calc(50% - (864px / 2));
        background: $colour--blue;
        padding: 40px;
        box-sizing: border-box;

        @media only screen and (max-width: 900px) {
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            z-index: 1000;
        }

        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h2 {
                margin: -6px 0 16px 0;
                font-size: 42px;
            }

            #manifestCloseButton {
                width: 64px;
                height: 64px;
                padding: 16px;
                margin: -16px -16px 0 0;
                background: none;
                border: 0;

                .menuIcon {
                    width: 100%;
                    height: 100%;

                    .c {
                        fill: $colour--white;
                        stroke: $colour--white;
                        stroke-width: 1px;
                        transform: translate(0, 0);

                        transition: transform 0.2s linear;
                    }

                    .c1-2 {
                        transform: translate(0, 6.3px);
                    }
                    .c1-3 {
                        transform: translate(0, 12.6px);
                    }
                    .c1-4 {
                        transform: translate(0, 6.3px);
                    }

                    .c2-1 {
                        transform: translate(12.6px, 0);
                    }
                    .c2-2 {
                        transform: translate(6.3px, 0);
                    }
                    .c2-4 {
                        transform: translate(-6.3px, 0);
                    }
                    .c2-5 {
                        transform: translate(-12.6px, 0);
                    }

                    .c3-2 {
                        transform: translate(0, -6.3px);
                    }
                    .c3-3 {
                        transform: translate(0, -12.6px);
                    }
                    .c3-4 {
                        transform: translate(0, -6.3px);
                    }
                }


                // interaction states
                &:hover,
                &:focus {
                    .menuIcon {
                        .c {
                            fill: $colour--yellow;
                            stroke: $colour--yellow;
                        }
                    }
                }
            }
        }

        .manifestContentInner {
            overflow-y: auto;

            ul {
                margin: 0;
                padding: 0 16px 0 0;
                list-style: square;

                li {
                    font-size: 0;

                    a {
                        display: block;
                        position: relative;
                        margin: 4px 0 4px 46px;
                        padding: 6px 0;
                        font-size: 22px;
                        color: $colour--white;
                        text-decoration: none;

                        &:before {
                            content: '\0025AB';
                            position: absolute;
                            top: -23px;
                            left: -34px;
                            font-size: 70px;
                            color: $colour--white;
                        }

                        &:hover,
                        &:focus {
                            color: $colour--yellow;
                            text-decoration: underline;
                        }

                        dl {
                            margin: 0;

                            dt,
                            dd {
                                display: inline-block;
                                vertical-align: top;
                            }

                            dt {
                                width: 100px;
                            }

                            dd {
                                margin: 0;
                                width: calc(100% - 100px);
                            }
                        }
                    }

                    &.selected {
                        background: $colour--black;

                        a {
                            &:before {
                                content: '\0025AA';
                            }
                        }
                    }
                }
            }
        }
    }


    // interaction states
    &--visible {
        display: flex;

        .manifestContent {
            display: flex;
            flex-direction: column;
        }
    }
}




.instructions {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $colour--black--70;

    .instructionsContent {
        display: none;
        position: fixed;
        background: $colour--blue;
        padding: 40px;
        box-sizing: border-box;

        @media only screen and (max-width: 1800px) {
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            z-index: 1000;
        }

        @media only screen and (max-width: 1379px) {
            overflow: auto;
        }

        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h2 {
                margin: -6px 0 16px 0;
                font-size: 42px;

                a {
                    font-size: 22px;
                }
            }

            #instructionsCloseButton {
                width: 64px;
                height: 64px;
                padding: 16px;
                margin: -16px -16px 0 0;
                background: none;
                border: 0;

                .menuIcon {
                    width: 100%;
                    height: 100%;

                    .c {
                        fill: $colour--white;
                        stroke: $colour--white;
                        stroke-width: 1px;
                        transform: translate(0, 0);

                        transition: transform 0.2s linear;
                    }

                    .c1-2 {
                        transform: translate(0, 6.3px);
                    }
                    .c1-3 {
                        transform: translate(0, 12.6px);
                    }
                    .c1-4 {
                        transform: translate(0, 6.3px);
                    }

                    .c2-1 {
                        transform: translate(12.6px, 0);
                    }
                    .c2-2 {
                        transform: translate(6.3px, 0);
                    }
                    .c2-4 {
                        transform: translate(-6.3px, 0);
                    }
                    .c2-5 {
                        transform: translate(-12.6px, 0);
                    }

                    .c3-2 {
                        transform: translate(0, -6.3px);
                    }
                    .c3-3 {
                        transform: translate(0, -12.6px);
                    }
                    .c3-4 {
                        transform: translate(0, -6.3px);
                    }
                }


                // interaction states
                &:hover,
                &:focus {
                    .menuIcon {
                        .c {
                            fill: $colour--yellow;
                            stroke: $colour--yellow;
                        }
                    }
                }
            }
        }

        .instructionsContentInner {
            display: flex;
            flex-direction: row;

            @media only screen and (max-width: 1800px) {
                flex-wrap: wrap;
            }

            .column {
                width: 33.3%;

                &:nth-child(1) {
                    width: 440px;

                    @media only screen and (max-width: 1800px) {
                        width: 50%;
                    }

                    @media only screen and (max-width: 1379px) {
                        width: 100%;
                    }
                }

                &:nth-child(2) {
                    width: 660px;

                    @media only screen and (max-width: 1800px) {
                        width: 50%;
                    }

                    @media only screen and (max-width: 1379px) {
                        width: 100%;
                    }
                }

                &:nth-child(3) {
                    width: 580px;

                    .columnInner {
                        &:last-child {
                            margin-top: 50px;
                        }
                    }

                    @media only screen and (max-width: 1800px) {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        margin-top: 20px;

                        .columnInner {
                            width: 50%;

                            &:last-child {
                                margin-top: 0;
                            }
                        }
                    }

                    @media only screen and (max-width: 1379px) {
                        flex-direction: column;
                        width: 100%;

                        .columnInner {
                            width: 100%;

                            &:last-child {
                                margin-top: 30px;
                            }
                        }
                    }
                }

                h3 {
                    font-size: 24px;
                }

                table {
                    margin-bottom: 50px;

                    &.compact,
                    &:last-child {
                        margin-bottom: 0;
                    }

                    tbody {
                        td {
                            font-size: 20px;

                            &:first-child {
                                width: 72px;
                            }

                            &.wide {
                                width: 180px;
                            }

                            &.ultrawide {
                                width: 400px;
                            }
                        }

                        + tbody {
                            tr {
                                &:first-child {
                                    td {
                                        padding-top: 20px;
                                    }
                                }
                            }
                        }
                    }
                }

                p {
                    font-size: 22px;
                }

                kbd {
                    display: inline-block;
                    min-width: 50px;
                    border: 1px solid $colour--white;
                    text-align: center;
                    padding: 3px;
                    font-family: $font-family--teletext2;
                    font-size: 20px;
                    font-weight: 400;
                }
            }
        }

        p {
            margin: 18px 0;
        }

        a {
            color: $colour--white;

            &:hover,
            &:focus {
                color: $colour--yellow;
            }
        }
    }


    // interaction states
    &--visible {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1001;

        .instructionsContent {
            display: flex;
            flex-direction: column;
        }
    }
}




.about {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $colour--black--70;

    .aboutContent {
        display: none;
        position: fixed;
        width: 864px;
        background: $colour--blue;
        padding: 40px;
        box-sizing: border-box;

        @media only screen and (max-width: 900px) {
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            z-index: 1000;
        }

        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h2 {
                margin: -6px 0 16px 0;
                font-size: 42px;
            }

            #aboutCloseButton {
                width: 64px;
                height: 64px;
                padding: 16px;
                margin: -16px -16px 0 0;
                background: none;
                border: 0;

                .menuIcon {
                    width: 100%;
                    height: 100%;

                    .c {
                        fill: $colour--white;
                        stroke: $colour--white;
                        stroke-width: 1px;
                        transform: translate(0, 0);

                        transition: transform 0.2s linear;
                    }

                    .c1-2 {
                        transform: translate(0, 6.3px);
                    }
                    .c1-3 {
                        transform: translate(0, 12.6px);
                    }
                    .c1-4 {
                        transform: translate(0, 6.3px);
                    }

                    .c2-1 {
                        transform: translate(12.6px, 0);
                    }
                    .c2-2 {
                        transform: translate(6.3px, 0);
                    }
                    .c2-4 {
                        transform: translate(-6.3px, 0);
                    }
                    .c2-5 {
                        transform: translate(-12.6px, 0);
                    }

                    .c3-2 {
                        transform: translate(0, -6.3px);
                    }
                    .c3-3 {
                        transform: translate(0, -12.6px);
                    }
                    .c3-4 {
                        transform: translate(0, -6.3px);
                    }
                }


                // interaction states
                &:hover,
                &:focus {
                    .menuIcon {
                        .c {
                            fill: $colour--yellow;
                            stroke: $colour--yellow;
                        }
                    }
                }
            }
        }

        p {
            margin: 18px 0;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: $colour--white;

                &:hover,
                &:focus {
                    color: $colour--yellow;
                }
            }
        }
    }


    // interaction states
    &--visible {
        display: flex;
        justify-content: center;
        align-items: center;

        .aboutContent {
            display: flex;
            flex-direction: column;
        }
    }
}




#zapperWrapperStandard,
#zapperWrapperCompact {
    display: none;
    font-size: 0;
}

#zapperWrapperCompact {
    background: $colour--darkgrey;
}

.zapperButton {
    cursor: pointer;
}




// controls modes
[data-controls="zapper"] {
    &[data-display="standard"],
    &[data-display="fitscreen"] {
        background: $colour--black;
    }

    #gridSelect,
    #instructionsSelect,
    #grabSelect,
    #controls {
        display: none;
    }

    #wrapper {
        flex-direction: row;
        justify-content: space-between;

        @media only screen and (max-width: 1023px) {
            width: 100%;
        }

        @media only screen and (max-width: 1023px) and (orientation: portrait) {
            flex-direction: column;
        }

        @media only screen and (max-width: 1023px) and (orientation: landscape) {
            flex-direction: row;
        }
    }

    #zapperWrapperStandard {
        display: block;
        margin-left: 80px;

        svg {
            width: auto;
        }

        @media only screen and (max-width: 1023px) and (orientation: portrait) {
            display: none;
        }

        @media only screen and (max-width: 1023px) and (orientation: landscape) {
            display: block;
        }
    }

    #zapperWrapperCompact {
        svg {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 244px;
        }

        // media queries
        @media only screen and (max-width: 1023px) {
            padding-top: 16px;
            padding-bottom: 32px;
        }

        @media only screen and (max-width: 767px) and (orientation: portrait) {
            padding-bottom: 66px;
        }

        @media only screen and (max-width: 1023px) and (orientation: portrait) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
        }

        @media only screen and (max-width: 1023px) and (orientation: landscape) {
            display: none;
        }
    }

    // scales
    &[data-scale="1"] {
        #zapperWrapperStandard {
            margin-left: calc(40px * 1);

            svg {
                height: calc(550px * 1);
            }
        }
    }

    &[data-scale="1.5"] {
        #zapperWrapperStandard {
            margin-left: calc(40px * 1.5);

            svg {
                height: calc(550px * 1.5);
            }
        }
    }

    &[data-scale="2"] {
        #zapperWrapperStandard {
            margin-left: calc(40px * 2);

            svg {
                height: calc(550px * 2);
            }
        }
    }

    // display modes
    &[data-display="fitscreen"],
    &[data-display="fullscreen"] {
        #zapperWrapperStandard {
            margin-top: 40px;
            margin-bottom: 40px;
            margin-left: calc(40px * 2);
            height: calc(100% - (40px * 2));

            svg {
                height: calc(100% - (40px * 2));
            }

            @media only screen and (max-width: 1279px) and (orientation: landscape) {
                margin: 0 20px;
            }
        }
    }
}


[data-controls="minimal"] {
    &,
    &[data-display="standard"],
    &[data-display="fitscreen"] {
        background: $colour--black;
    }

    #gridSelect,
    #instructionsSelect,
    #grabSelect,
    #controls {
        display: none;
    }

    #wrapper {
        flex-direction: row;

        @media only screen and (max-width: 1023px) and (orientation: portrait) {
            flex-direction: column;
        }

        @media only screen and (max-width: 1023px) and (orientation: landscape) {
            flex-direction: row;
        }
    }
}


[data-controls="bigscreen"] {
    &,
    &[data-display="standard"],
    &[data-display="fitscreen"] {
        background: $colour--black;
    }

    #instructionsSelect,
    #controls,
    #cast {
        display: none;
    }

    #wrapper {
        width: 100%;
        flex-direction: row;
    }

    #qrWrapper {
        width: 100%;
    }
}




/* display modes */
[data-display="standard"] {
    background-color: $colour--brown;
}

[data-display="fitscreen"] {
    background-color: $colour--brown;

    .settingsRow--scale {
        display: none;
    }
}

[data-display="fullscreen"] {
    background-color: $colour--black;

    #wrapper {
        justify-content: center;
    }

    #logo {
        display: none;
    }

    #gridSelect,
    #instructionsSelect,
    #grabSelect,
    #controls,
    .settingsRow--scale {
        display: none;
    }
}




// fade out UI elements in specific controls / display modes
[data-controls="zapper"],
[data-controls="minimal"],
[data-display="fitscreen"],
[data-display="fullscreen"] {
    #logo,
    #menuButton {
        opacity: 0.2;

        transition: opacity 0.2s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    &[data-menu-open="true"] {
        #menuButton {
            opacity: 1;
        }
    }
}

[data-display="fullscreen"] {
    #menuButton {
        opacity: 0;
    }
}




// editable services...
#menu #gridSelect {
    display: none;
}

[data-service-editable="true"] {
    #menu {
        // show instructions menu button
        #instructionsSelect {
            display: flex;
            flex-direction: column;
        }

        // show edit mode grid select
        #gridSelect {
            display: flex;

            .controlsButton {
                .gridSelectButtonText--show {
                    display: inline;
                }

                .gridSelectButtonText--hide {
                    display: none;
                }
            }
        }

        // hide autoplay select
        .settingsRow--autoplay {
            display: none;
        }
    }

    &[data-grid="true"] {
        #menu #gridSelect {
            .controlsButton {
                .gridSelectButtonText--show {
                    display: none;
                }

                .gridSelectButtonText--hide {
                    display: inline;
                }
            }
        }
    }
}




// modify logo and menu if they will cover the page canvas whilst open
[data-display="fitscreen"],
[data-display="fullscreen"] {
    @include menu-obscures-canvas;
}

@media only screen and (max-width: 1384px) {
    [data-scale="1"] {
        @include menu-obscures-canvas;
    }
}

@media only screen and (max-width: 1700px) {
    [data-scale="1.5"] {
        @include menu-obscures-canvas;
    }
}

@media only screen and (max-width: 2000px) {
    [data-scale="2"] {
        @include menu-obscures-canvas;
    }
}




// position p5 loading message in centre of screen
.canvas--p5_loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed !important;
    width: 500px;
    height: 50px;
    left: calc(50% - (500px /2));
    top: calc(50% - (50px /2));
}




// don't show the page content until the render setup has completed (to stop visible layout shifts)
#wrapper {
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.75s ease-in-out;
}

[data-ready="true"] {
    #wrapper {
        opacity: 1;
        pointer-events: all;
    }
}